@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  position: relative;
  padding-left: 5rem;
  padding-right: 5rem;
}

header div.fixed-bar {
  display: flex;
  width: 100%;
  padding: 3rem 0rem 1rem 3rem;
}
header div.fixed-bar img {
  width: 10%;
  height: 10%;
  border-radius: 50%;
}
header div.fixed-bar div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  margin-left: 2rem;
}
header div.fixed-bar div h1 {
  font-size: 2rem;
  padding-bottom: 1rem;
}
header nav {
  width: 100%;
}
header nav ul {
  padding: 1.5rem;
  width: 30%;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
header nav ul li {
  font-size: 1.3rem;
}
header nav ul li a {
  color: black;
  text-decoration: none;
}
header nav ul li a:hover {
  color: #e08958;
}

main {
  display: flex;
  flex-wrap: wrap;
}
main section.left {
  flex: 1 1 300px;
  padding-left: 3rem;
}
main section.left div.option {
  margin-bottom: 2rem;
}
main section.left hr {
  margin-bottom: 1rem;
  width: 25rem;
}
main section.left ul li {
  margin-left: 1.5rem;
}
main section.right {
  flex: 3 1 300px;
}
main section.right div.option {
  margin-bottom: 2rem;
}
main section.right hr {
  margin-bottom: 1rem;
  width: 25rem;
}
main section.right img {
  width: 2rem;
  height: 2rem;
}
main section.right ul li {
  margin-left: 1.5rem;
}
main section.list {
  display: flex;
  margin-left: 10rem;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
main section.list a {
  text-decoration: none;
  color: black;
  width: 20vw;
  margin-right: 3rem;
  margin-top: 1rem;
}
main section.list a img {
  width: 105%;
  height: 90%;
  border-radius: 2%;
}
main section.list a div.title {
  width: 105%;
  font-size: 1.2rem;
}
main section.list div.third {
  width: 60vw;
}
main section.list div.third h2 {
  margin-top: 3rem;
}
main section.list div.third ul {
  color: #0b9890;
  font-size: large;
  margin-bottom: 1rem;
}
main section.list div.third ul li {
  color: black;
  margin-left: 2rem;
  font-size: medium;
}
main div.hidden {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  background-color: rgba(162, 162, 162, 0.4941176471);
  z-index: 999;
  visibility: hidden;
}
main div.hidden div.hidden-container {
  margin: 8rem 15rem 0 15rem;
  background-color: #f1f1f1;
  padding-left: 5rem;
}
main div.hidden div.closed {
  position: flex;
  text-align: right;
  justify-content: center;
  align-items: center;
}
main div.hidden div.closed img {
  cursor: pointer;
  scale: 0.5;
}
main div.hidden p {
  padding-right: 5rem;
}
main div.hidden div.figure-content {
  padding-right: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-around;
}
main div.hidden div.figure-content figure.item {
  flex: 0 0 40%; /* 關鍵：設定寬度為 50% 扣除間距 */
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}
main div.hidden div.figure-content figure.item img {
  max-width: 20vw;
  max-height: 60vh;
}
main div.hidden div.figure-content figure.item figcaption {
  margin-top: 5px;
  font-size: 14px;
  color: #333;
  font-size: large;
  text-align: left;
}
main div.hidden ul {
  margin-top: 1rem;
}
main div.hidden ul li {
  margin-left: 2.5rem;
}
main div.hidden .title {
  margin-top: 1.5rem;
}
main div.hidden video {
  width: 50vw;
}
main div.display {
  visibility: visible;
}
main section.picture {
  flex: 1 1 600px;
  position: relative;
}
main section.picture img {
  width: 30vw;
}
main section.picture div.orangeRect {
  width: 30vw;
  height: 80vh;
  background-color: #e08958;
  position: absolute;
  top: 50px;
  left: 80px;
  z-index: -1;
}
main section.form {
  flex: 1 1 600px;
}
main section.form form {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5rem;
}
main section.form form div {
  margin: 0.5rem;
}
main section.form form div label {
  font-size: 1.5rem;
  margin-right: 1rem;
}
main section.form form div input,
main section.form form div textarea {
  background-color: rgba(215, 129, 79, 0.8509803922);
  color: white;
  font-size: 1.25rem;
  padding: 0.25rem;
  border: none;
  width: 80%;
}
main section.form form div textarea {
  vertical-align: top;
}
main section.form form button {
  align-self: center;
  background-color: #e08958;
  color: white;
  border: none;
  cursor: pointer;
  padding: 1.75rem 1.5rem;
  font-size: 2rem;
  border-radius: 10px;
}
main div.line {
  background-color: gray;
  width: 3px;
}
main section.contact {
  flex: 1 1 500px;
  display: flex;
  align-items: center;
  padding: 2rem;
}
main div.content h2 {
  margin: 3rem 1rem;
}

footer a {
  padding: 1rem;
}

.active {
  color: #e08958;
}

@media screen and (max-width: 1100px) {
  .orange {
    opacity: 0.5;
  }
  header nav ul {
    width: 100%;
    flex-direction: column;
  }
  header nav ul li {
    padding: 1rem 0rem;
    border-bottom: 2px solid gray;
  }
  main section.right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
  main section.right img {
    position: static;
    transform: none;
    width: 50vw;
    height: 50vw;
  }
  main figure.item {
    flex: 0 0 100%;
  }
  main section.picture {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main section.picture img {
    width: 60vw;
  }
  main section.picture div.orangeRect {
    display: none;
  }
  div.line {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */